.new
  contact from
  = form_for @contact, url: contacts_path do |f|
  
    = f.text_field :name,placeholder: 'name*'
    %br/
 
    = f.text_field :email,placeholder: 'email*'
    %br/
 
    = f.text_area :message,placeholder: 'message*'
    %br/
    = f.submit
    -# = f.text_area :mp3,placeholder: 'MP3'
